<div class="ui modal" id="userConfigs">
    <div class="header">User configs</div>
    <div class="content">
        
    </div>
    <div class="actions">
        <div class="ui deny red button">Cancel</div>
    </div>
</div>